
/* css form aplly */
.hsh-form-apply {
	width: 470px;
    background-color: #fff;
    border-radius: 10px;
    padding: 42px 35px 50px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    box-shadow: 0 0 10px rgb(149 149 149);
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.645,0.045,0.355,1);
}

.hsh-form-apply:before {
	position: absolute;
	content: '';
}

.hsh-heading-form {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.form-input {
	margin-bottom: 12px;
}

.form-input .form-control {
	border-radius: 0;
	min-height: 50px;
}

.hsh-update-file {
	text-align: left;
}

label {
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin: 20px 0 -4px;
}

.upload-file {
	font-size: 16px;
	font-weight: 700;
}

span {
	font-size: 16px;
	font-weight: 500;
}

.btn-form-apply {
	max-height: 50px;
	line-height: 50px;
	display: block;
	margin: 20px auto 0; 
}

.btn-form-apply:hover {
	background-color: #000;
	color: #fff;
}

.hsh-form-apply.active {
	top: 50%;
	opacity: 1;
	visibility: visible;
}

.btn-apply {
	cursor: pointer;
}

@media (max-width: 575px) {
	.hsh-form-apply {
		width: 300px;
		padding: 42px 15px 50px;
	}

	.hsh-heading-form {
		font-size: 20px;
	}
}