/* section slide */
.slider-content {
    position: relative;
}

.slider-content .shs-slide {
    position: absolute;
    top: 218px;
    left: 100px;
}

.shs-slide .shs-heading-meta:before {
    top: 6px;
    bottom: 17px;
}

.shs-slide .shs-sub-slide {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.shs-slide .shs-heading {
    margin-top: -2px;
}

